@import '../../../../assets/css/fonts';
@import '../../../../assets/css/mixins';


.navbar {
  height: 100%;
  align-self: flex-start;
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  padding: 60px 0px 0px 20px;
  /////
  &__link {
    @include link;
    font-family: $primary-font;
    /////
    &:hover {
      color: #f1f1f1;
    }
    /////
    &--logo {
      @include link;
      padding: 8px 8px 128px 0px;
      font-family: $secondary-font; 
      font-size: 28px;
    }    
    /////
    &--group{
      margin-top: auto;
      margin-bottom: 100px;
      &>*{
        @include link;
        padding-left: 15px;
        font-family: $primary-font;
        font-size: 16px;
        &:hover {
          color: #f1f1f1;
        }
      }
    }
    /////
  }

}


