.landing{
  background-image: url('../../../../assets/img/landing_bg.jpg');
  background-size: auto;
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  right: 0;
  z-index: 1;  
  filter: grayscale(80%) blur(4px);
}

.message {
  font-family: 'Poppins', sans-serif; 
  font-size: 28px;
  position: fixed;
  z-index: 2;
  color: #f1f1f1;
  margin: 35% 0% 0% 27%;
  text-shadow: -2px 4px 12px #000;
}