@import './assets/css/fonts';


.App {
  position:absolute;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: -99; 
  overflow: hidden; 
  ////////
  &__navigation {
    width: 15%;
  }
  ////////
  &__content{
    flex: 1;
    z-index: -1;
  }
}